{
  "extends": [
    "eslint:recommended",
    "v2land"
  ],
  "parser": "babel-eslint",
  "env": {
    "node": true
  },
  "rules": {
    "space-before-function-paren": "off",
    "require-jsdoc": ["error", {
      "require": {
          "FunctionDeclaration": false,
          "MethodDefinition": false,
          "ClassDeclaration": false,
          "ArrowFunctionExpression": false,
          "FunctionExpression": false
      }
    }]
  }
}