os: linux
dist: xenial
language: node_js
services:
  - redis-server
  - docker
addons:
  postgresql: "10"
  apt:
    packages:
    - postgresql-10
    - postgresql-client-10
    - g++-4.8
env:
  - CXX=g++-4.8
node_js:
  - "10"
before_script:
  - psql -c 'create database v2land;' -U postgres
  - psql -U postgres -d v2land -f ./scripts/db-01.sql
script: make test
deploy:
  provider: script
  script: bash deploy.sh
  skip_cleanup: true
  on:
    branch: master
notifications:
  slack: v2land:xoeT2IXt8yCaUfMxoBbXrSZD